<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JAVA 13-14</title>
	<link type="text/css" href="css/reset.css" rel="stylesheet">
	<link type="text/css" href="css/style.css" rel="stylesheet">
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
<div class="test__container">

    <div class="questions__block">

    <script type="text/html" id="test">

      <% for (var i = 0; i < data.length; i++) { %>
  
        <h2>  <%= data[i].question %>   </h2>

        <input type="checkbox"> <%= data[i].answers[0] %>  
        <input type="checkbox"> <%= data[i].answers[1] %>  
        <input type="checkbox"> <%= data[i].answers[2] %>  

      <% }; %>

    </script>
    </div>

    <a href="#" class="test__button">Review my results</a>
  </div>
</body>
</html>